
.service-main-page-start-button,
.service-main-page-mode-button {
  margin: 10px 0;
}

.service-main-start-button {
  padding: 12px 30px;
  font-size: 1.1rem;
  background-color: #007f3a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.service-main-start-button:hover {
  background-color: #006630;
}