.servicepageheader_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #ffffff;
    width: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    font-size: 16px;
    text-align: center;
    color: #666666;
  }
  
  .servicepageheader_container.servicepageheader_scrolled {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  }
  
  .servicepageheader_title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: -10px;
  }
  
  .servicepageheader_subtitle {
    margin-top: 10px;
    font-size: 25px;
  }
