@import '../set/color.css';


.text-input-container {
  position: fixed; 
  bottom: 20px;
  left: 10%;
  right: 10%;  
  display: flex;
  flex-direction: column;
  max-height: 80%; 
  overflow-y: auto;
}

.text-input { 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--chat-input-field-color);
  border-radius: 20px; 
  bottom: 10px;
  height: auto;
  width: 100%;
  padding: 0px 10px;
  min-height: 50px; /* 최소 높이 설정 */ 
}

.text-input-field {
  background: transparent;
  flex: 1;
  border: none;
  outline: none;  
  flex-grow: 1; /* Ensures the field grows upwards */ 
  font-size: 16px;
  padding: 10px;
  max-height: 150px; /* 최대 높이 설정 */
  height: 30px; /* 기본 높이 설정 (1줄) */
  min-height: 30px; /* 최소 높이 설정 */
  resize: none; /* Prevent manual resizing */
  overflow-y: auto; /* 스크롤 추가 */
  justify-content: flex-start; /* 위로 늘어나도록 설정 */
}

.text-input-button-send {
  background-color: var(--button-color);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.text-input-button-send:hover {
  background-color: var(--button-hover-color);
}

.text-input-button-send:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.text-input-wait {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
}