@import '../set/color.css';


.scenarios-recorder-container {
  position: fixed;
  bottom: 30px;  
}

.scenarios-recorder {
  display: flex; 
  width: 60px;
  height: 60px; 
  align-items: center;
  justify-content: center;
} 

.scenarios-recorder-button-start { 
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--button-color);
  border-radius: 50%;
  font-size: 30px;
  border: 1px; 
  width: 100%;
  height: 100%;
}

.scenarios-recorder-button-start:hover {
  background-color: var(--button-hover-color);
}

.scenarios-recorder-button-stop {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--button-stop-color);
  border-radius: 50%;
  font-size: 30px;
  border: 1px; 
  width: 100%;
  height: 100%;
}

.scenarios-recorder-button-stop:hover {
  background-color: var(--button-stop-hover-color);
}