/* VoisChatList.css */
@import '../set/color.css';

.scenarios-chat-play-button { 
  height: 40px;
  width: 40px;
  margin-left: 8px;
  padding: 5px 10px;
  background-color: transparent; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.scenarios-chat-play-button:hover {
  background-color: transparent;
}

.scenarios-chat-list {
  margin-bottom: 0px;
  height: 100%;
  display: flex;
  flex-direction: column; /* 기존의 column-reverse를 column으로 변경 */
  overflow-y: auto;
}
/* Chrome, Safari and Opera */
.scenarios-chat-list::-webkit-scrollbar {
  display: none;
}


.scenarios-message-container {
  display: flex;
  margin-bottom: 5px; /* 여백을 줄이기 위해 10px에서 5px로 변경 */
  width: 100%; /* 부모의 100% 너비 사용 */
}

.scenarios-message-container.user {
  justify-content: flex-end; /* 사용자 메시지: 오른쪽 끝으로 정렬 */ 
  margin-top: 5px; /* 상단 여백을 줄이기 위해 추가 */
  margin-bottom: 5px; /* 하단 여백을 줄이기 위해 추가 */ 
}

.scenarios-message-container.ai { 
  margin-top: 5px; /* 상단 여백을 줄이기 위해 추가 */
  margin-bottom: 5px; /* 하단 여백을 줄이기 위해 추가 */ 
} 

.scenarios-message {  
  border-radius: 12px;
  padding : 8px 15px; 
  max-width: 80%;
  position: relative; 
}

.scenarios-message.user { 
  margin-top: 10px;  
  background-color: var(--sv-my-chat-bubble-color); /* 사용자 메시지 배경색 */
  color: var(--sv-my-chat-text-color); /* 사용자 메시지 텍스트 색상 */
  text-align: left; /* 사용자 메시지 오른쪽 정렬 */
  position: relative; /* 상대 위치 설정 */ 
  border-radius: 15px; /* 말풍선 모서리 둥글게 */
  max-width: 80%; /* 최대 너비 설정 */
  margin-bottom: 5px; /* 하단 여백 */
}

.scenarios-message.assistant {
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: var(--sv-other-chat-bubble-color); /* AI 메시지 배경색 */
  color: var(--sv-other-chat-text-color); /* AI 메시지 텍스트 색상 */
  text-align: left; /* AI 메시지 왼쪽 정렬 */
}

.scenarios-message.ai {
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: var(--sv-other-chat-bubble-color); /* AI 메시지 배경색 */
  color: var(--sv-other-chat-text-color); /* AI 메시지 텍스트 색상 */
  text-align: left; /* AI 메시지 왼쪽 정렬 */
}

.scenarios-chatbot-icon {
  font-family: 'Gmarket Sans';
  width: 60px; /* 아이콘 크기 */
  height: 60px;
  margin-right: 10px; /* 아이콘과 메시지 사이의 간격 */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* 아이콘 크기 고정 */
  border-radius: 50%; /* 원형 프로필 이미지 */
  background: var(--ai-profile-color); 
  color: var(--icon-text-color);
  font-size: 30px;
  font-weight : bold;
} 

.scenarios-message small {
  position: absolute;
  bottom: -15px;
  right: 10px;
  font-size: 10px;
  color: #6c757d;
}

.scenarios-message-bubble {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 내용과 아이콘을 양쪽으로 배치 */
}

.scenarios-message-time {
  font-size: 10px; /* 작은 글씨 크기 */
  color: #6c757d; /* 회색 색상 */
  margin-top: 2px; /* 위쪽 여백 */
}

.scenarios-user-time {
  position: absolute; /* 절대 위치 설정 */
  bottom: 5px; /* 말풍선 위쪽에 위치 */
  left: -30px; /* 왼쪽 정렬 */
  font-size: 10px; /* 작은 글ㄴ 크기 */
  color: #6c757d; /* 회색 색상 */
}

.scenarios-ai-time { 
  position: absolute; /* 절대 위치 설정 */
  bottom: -35px; /* 말풍선 위쪽에 위치 */
  left: 10px; /* 왼쪽 정렬 */
  font-size: 20px; /* 작은 글씨 크기 */
  color: #6c757d; /* 회색 색상 */
}

.scenarios-chat-play-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute; /* 절대 위치 설정 */
  bottom: -38px; /* 말풍선 위쪽에 위치 */
  left: 75px; /* 왼쪽 정렬 */
  font-size: 20px; /* 작은 글씨 크기 */
  color: black;
}

.scenarios-chat-play-button:hover {
  background: transparent;
}

.scenarios-copy-button {
  width: 33px; /* Set the desired width */
  height: 30px; /* Set the desired height */
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute; /* Absolute positioning */
  bottom: -35px; /* Adjust as needed */
  left: 58px; /* Adjust as needed */
  margin-left: 5px; 
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scenarios-copy-button:hover {
  background: transparent;
}

.scenarios-no-messages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #6c757d; /* Gray color for the text */
  font-size: 18px; /* Slightly larger font size */
  text-align: center;
  padding: 20px; /* Add some padding for spacing */
  background-color: #f8f9fa; /* Light background to highlight the message */
  border-radius: 8px; /* Rounded corners for a softer look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
