@import '../set/color.css';
.scenarios-chat-header-container {
    position: fixed;
    display: flex;
    align-items: center; 
    position: fixed;
    top: 12px;
    width: 100%; 
    left: 4em;
    z-index: 1100;
    transition: left 1.3s ease; 
} 

.scenarios-chat-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* 전체 화면 높이 */ 
  box-sizing: border-box;
}

.scenarios-chat-container {
  transition: transform 0.3s ease, width 0.3s ease; /* transform 사용 */
  transform: translateX(0); /* 기본 상태 */
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;  
  height: 100vh;
}

.scenarios-chat-container.sidebar-open {
  transform: translateX(-120px); /* 사이드바 닫힘 상태 */
}

.scenarios-messages-container {
  position: fixed;
  top: 10vh; /* 헤더 아래에서 시작 */
  bottom: 90px; /* 마이크와의 간격 포함 */
  width: 100%; 
  padding: 0px 10px;  
  overflow-y: auto;
  background-color: #f9f9f9;
  box-sizing: border-box; 
  border: 1px solid #ccc;
  border-radius: 8px;
}

.scenarios-recorder-container {
  position: fixed; 
  bottom: 20px !important; /* 화면 하단에서 20px 간격 */
  width: 100%;
  height: 60px; /* 마이크의 고정 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* 마이크의 배경색 */
}
