@import './set/color.css';

/* 채팅 입력 컨테이너 */
.chat-input-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

/* 입력창과 버튼을 감싸는 컨테이너 */
.input-button-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px;
  border: 1px solid #ced4da;
  transition: background-color 0.3s ease;
}

/* 채팅 컨테이너 (텍스트 입력 영역) */
.chat-container {
  flex: 1;
  resize: none;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 15px; 
  transition: border-color 0.15s ease-in-out;
  overflow-y: hidden;
}

.chat-container:focus {
  outline: none;
  box-shadow: none;
}

/* 채팅 상자 버튼 (마이크 버튼과 전송 버튼 공통 스타일) */
.chat-box-button {
  padding: 8px; 
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s ease-in-out;
  background-color: var(--button-color);
  cursor: not-allowed;
}
.chat-box-button:disabled {
  background-color: var(--button-disabled-color);
  cursor: not-allowed;
}

/* 마이크 버튼 */
.mic-button {
  background-color: var(--button-color) ;
  margin-right: 10px;
} 

/* 전송 버튼 */
.send-button {
  margin-left: 10px;
} 

/* 채팅 상자 버튼 호버 효과 */
.chat-box-button:hover {
  background-color: var(--button-hover-color);
}

/* SVG 아이콘 스타일 */
.chat-box-button svg {
  width: 20px;
  height: 20px;
} 

/* 반응형 디자인 */
@media (max-width: 768px) {
  .chat-box-button {
    width: 36px;
    height: 36px;
  }
}

/* 버튼 포커스 시 아웃라인 제거 */
.chat-box-button:focus {
  outline: none;
  box-shadow: none;
}