/* Login.css */
@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@800&display=swap');
@import url('./set/color.css');
.loginPage { 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-family: Pretendard;  
}  

.login-center-box {
  width: 100%;
  min-width: 1em;
  max-width: 25em; /* 최대 너비 확대 */
  display: flex;
  flex-direction: column;
}

.form { 
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px; /* 간격 확대 */
}

.logininputGroup {
  width: 100%;
  display: flex;
  flex-direction: column; 
  position: relative;  
}

.logininputGroup img {
  width: 100%;
  margin-bottom: 1em; /* 이미지 마진 확대 */
  margin-top: 2em;
}

.inputField { 
  height: 5rem; /* 입력 필드 높이 확대 */
  position: relative;
  padding: 15px; /* 패딩 확대 */
  border: 0.6px solid #b1b1b1;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 1.2rem; /* 글자 크기 확대 */
}

.inputField:focus, .inputField:not(:placeholder-shown) {
  outline: none;
}

.inputField:focus + .underline, .inputField:not(:placeholder-shown) + .underline {
  height: 5.71%;
  width: 100%;
  position: absolute;
  top: 94.29%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0px 0px 5px 5px;
  background-color: #007f3a;
}

.error {
  color: red;
  margin-bottom: 15px; /* 마진 확대 */
}

.LoginButton, .SignupButton {
  width: 100% !important;
  max-width: 25em; /* 최대 너비 확대 */
  box-shadow: 0px 4px 30px rgba(38, 58, 67, 0.15);
  border-radius: 12px;
  border: none;
  background-color: var(--button-color-2);
  height: 70px; /* 버튼 높이 확대 */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* 패딩 확대 */
  font-size: 1.5rem; /* 글자 크기 확대 */
  color: #fff;
  font-weight: 600;
  font-family: Pretendard;
  margin-top: 15px; /* 마진 확대 */
}

.LoginButton:hover, .SignupButton:hover {
  background-color: #111111;
}

.LoginButton {
  margin-top: 2.5rem; /* 마진 확대 */
}

.SignupButton {
  margin-top: 15px; /* 마진 확대 */
}

.or {
  margin-top: 15px; 
  margin-bottom: 15px;  
  width: 28px; 
  font-size: 32px; /* 글자 크기 확대 */
  font-family: Pretendard;
  color: #000; 
  display: inline-block;
}

.label {
  width: 100%;
  position: relative;
  font-size: 1.8rem; /* 글자 크기 확대 */
  line-height: 156.5%;
  font-weight: 600;
  font-family: Pretendard;
  color: #263a43;
  text-align: left;
  display: block; 
  margin-bottom: 15px; /* 마진 확대 */
}
