@import '../set/color.css';
.text-chat-header-container {
    position: fixed;
    display: flex;
    align-items: center; 
    position: fixed;
    top: 12px;
    width: 100%; 
    left: 4em;
    z-index: 1100;
    transition: left 1.3s ease; 
} 

.text-chat-content-container{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px; 
  padding-top: 10px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.text-chat-container {
  transition: transform 0.3s ease, width 0.3s ease; /* transform 사용 */
  transform: translateX(0); /* 기본 상태 */
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column; 
  height: 100vh;
}

.text-chat-container.sidebar-open {
  transform: translateX(-120px); /* 사이드바 닫힘 상태 */
}

.text-messages-container { 
  position: fixed;
  top: 10vh; /* 헤더 아래에서 시작 */
  bottom: 90px; /* 마이크와의 간격 포함 */ 
  width: 100%;
  overflow-y: auto;
  background-color: #f9f9f9;
  box-sizing: border-box;  
  padding: 0px 10px;  
  border: 1px solid #ccc;
  border-radius: 8px;
}
  