
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  ::-webkit-scrollbar {
    display: none;
  }
  
  /*특정 부분 스크롤바 없애기*/
  
  .box{
     -ms-overflow-style: none;
  }
  .box::-webkit-scrollbar{
    display:none;
  }
}