.voice-chat-title-logo {
  justify-content: center;   
  align-items: center;       
  padding-top: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
  padding: 10px;
  flex-grow: 1;
  text-align: center;
}

.voice-chat-header {
  display: flex;
  align-items: center;
  padding: 10px; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 60px;
}

.toggle-sidebar-button {
  z-index: 1000;  
}
