.voice-chat-header-container {
    position: fixed;
    display: flex;
    align-items: center; 
    position: fixed;
    top: 12px;
    width: 100%; 
    left: 4em;
    z-index: 1100;
    transition: left 1.3s ease; 
}
  
.voice-chat-header-container.shifted-header {
    margin-left: 20%;  
}

.voice-chat-content-container{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px; 
  padding-top: 10px;
  height: 100%;
}

.voice-chat-container {
    transition: margin-left 0.3s ease, width 0.3s ease;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 100vh;
}

.voice-chat-container.sidebar-open {
    margin-left: 250px; /* 사이드바 너비만큼 여백 */
    width: calc(100% - 250px); /* 전체 너비에서 사이드바 너비만큼 뺌 */
}

.messages-container {
  width: 100%; 
  height: 100%;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}  