.level-difficulty-filter { 
    margin: 20px; /* 여백 추가 */
    display: flex;
    align-items: center; /* Align items vertically centered */
}

.level-difficulty-label {
    font-weight: bold;
    margin-right: 10px; /* Space between label and dropdown */
    font-size: 18px; /* Increased font size */
}

.level-dropdown-container { 
    flex-grow: 1; /* Allow the dropdown to take available space */
    max-width: 200px; /* Set a maximum width for the dropdown */
}

.level-difficulty-dropdown {
    align-items: center; /* Align items vertically centered */
    text-align: center;
    width: 100%; /* Full width of the container */
    padding: 10px; /* Padding for better spacing */
    border: 2px solid #4CAF50; /* Border color */
    border-radius: 15px; /* Rounded corners */
    background-color: white; /* Background color */
    font-size: 18px; /* Font size */
    font-weight: bold;
    color: #333; /* Text color */
    appearance: none; /* Remove default arrow */ 
    background-position: right 10px center; /* Position the arrow */
    background-size: 10px; /* Size of the arrow */
    cursor: pointer; /* Change cursor to pointer */
}

.level-difficulty-dropdown:focus {
    outline: none; /* Remove outline on focus */
    border-color: #66afe9; /* Change border color on focus */
}

.level-difficulty-dropdown option {
    padding: 10px; /* Padding for options */
}