.difficulty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem; /* 상단 여백 추가 */
}

.difficulty-bars {
  display: flex;
  width: 45%;
  margin-bottom: 0.5rem; /* 막대바와 텍스트 간의 간격 */
}

.difficulty-bar {
  flex: 1;
  height: 10px; /* 막대바 높이 */
  background-color: transparent; /* 기본 배경색 */
  border-radius: 5px; /* 둥근 모서리 */
  margin: 0 2px; /* 막대바 간의 간격 */
  transition: background-color 0.3s ease; /* 색상 변화에 애니메이션 추가 */
}

.difficulty-bar.filled {
  background-color: green; /* 기본 색상 */
}

.difficulty-bar:nth-child(2).filled {
  background-color: yellow; /* 중간 난이도 색상 */
}

.difficulty-bar:nth-child(3).filled {
  background-color: red; /* 어려운 난이도 색상 */
}

.difficulty-label {
  font-size: 1rem; /* 텍스트 크기 */
  color: #333; /* 텍스트 색상 */
  font-weight: 700; /* 텍스트 두께 */
}